[clienttmapadmin]
user=travmapadmin
password=travmapadmin_password
host=db
[tmapadmin]
user=travmapadmin
password=travmapadmin_password
host=db
[client]
user=travmapadmin
password=travmapadmin_password
host=db
